<div class="hero">
<div class="hero-main">
    <h1 class="title out-title">GABI</h1>
    <small class="out-title"><i>Gerenciadora Autômata de Bibliotecas do IFRN</i></small>

    <article class="message">
  <div class="message-header">
    <p>Olá</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    Logado como: <%= current_user.matricula%>  
  </div>
</article>
    
</div>
</div>